/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page {
  background-color: #000;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  margin-top: 10px;
  outline: none;
  padding-bottom: 10px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #fff;
  font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;
}

/* Font */

.messages {
  font-size: 150%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */
.inputWrapper {
  width: 50vw;
  height: 65px;
  position: fixed;
  bottom: 65px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.inputMessage {
  width: calc(100% - 75px);
  height: 100%;
  background-color: #2f2f2f;
  padding-left: 15px;
  outline: none;
  border: none;
  border-bottom: 2px solid #b2b2b2;
  font-family: 'Raleway', sans-serif;
  float: left;
  font-weight: 100;
  font-size: 2em;
  color: whitesmoke;
}

.inputMessage:focus, .inputMessage #add {
  background-color: #2c2c2c;
  border-bottom: 2px solid whitesmoke;
}

#add {
  width: 75px;
  height: 65px;
  outline: none;
  border: none;
  background-color: #2f2f2f;
  color: #b2b2b2;
  border-bottom: 2px solid #b2b2b2;
  font-family: 'Raleway', sans-serif;
  font-size: 4em;
  font-weight: 100;
  cursor: pointer;
  line-height: 1.1em;
}

#add:hover {
  color: whitesmoke;
  border-bottom: 2px solod whitesmoke;
  background-color: #2c2c2c;
}
